@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
@font-face {
    font-family: 'Varino';
    src: url(../fontes/varino-normal.ttf) format('truetype');
}

:root{
    --fonte-varino: 'Varino', sans-serif;
    --fonte-roboto: 'Roboto', sans-serif;
    --azul1: #edf9fc;
    --azul2: #95dbec;
    --azul3: #4ec3e0;
    --azul4: #11111f;
    --cinza1: #e7e7e9;
    --cinza2: #707079;
    --nova: #18184b;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: var(--fonte-roboto);
}

body{
    background-color: var(--azul4);
}

header{
    width: 70%;
    padding-top: 30px;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 25px;
}

header img{
    height: 20%;
    width: 20%;
}

#header--text{
    flex-grow: 1;
    text-align: center;
}
#header--text h1{
    font-family: var(--fonte-varino);
    font-size: 5vw;
    color: var(--azul1);
}
#header--text p{
    font-family: var(--fonte-roboto);
    color: var(--azul1);
}

/* NAV \/ */

nav{
    padding: 5px;
    text-align: center;
    background-image: linear-gradient(to right, var(--azul4), var(--azul3), var(--azul4));
    border-top: 2px solid var(--azul3);
    border-bottom: 2px solid var(--azul3);

}
nav a{
    text-decoration: none;
    color: var(--azul3);
    margin: 0 5px;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--azul4);
    box-shadow: 3px 3px 2px #11111f69;
    display: inline-block;
    box-sizing: border-box;
    transition: 0.3s;
}

nav > a:hover{
    text-decoration: underline;
    transform: translate(-5px, -5px);
    box-shadow: 6px 6px 2px #11111f69;
}

/* MAIN \/ */   
/* section Apresentacao */
#apresentacao{
    max-width: 70%;
    margin: 50px auto;
    color: var(--azul1);
    background-color: var(--cinza1);
    color: var(--azul4);
    border-radius: 20px;
    box-shadow: 0 0 15px 5px #e7e7e960;
    padding: 10px;

    display: flex;
    justify-content: space-around;
}

#texto-apresentacao{
    font-size: 2rem;
    align-self: center;
}

#apresentacao img{
    width: 25%;
    height: 25%;
}

#fale-conosco{
    display: block;
    margin: 0 auto 80px auto;
    text-align: center;
    border: 2px solid var(--azul3);
    width: 15%;
    text-decoration: none;
    background-color: var(--azul3);
    color: var(--azul4);
    font-weight: bold;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px #4ec3e049;
    transition: 0.3s;
}

#fale-conosco:hover{
    transform: scale(1.1);
}

/* section Quem somos */

#quem-somos{    
    text-align: center;
    color: var(--azul4);
}

#quem-somos h2{
    color: var(--azul1);
    font-size: 3vw;
    text-align: center;
}
#quem-somos h2 span{
    color: var(--azul3);
}

#quem-somos-cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    max-width: 70%;
    margin: auto;
    padding: 85px 25px 25px 25px;
    
    gap: 15px
}

section#quem-somos-cards div{
    background-color: var(--cinza1);
    padding: 30px 20px;
    min-height: 15vh;
    border-radius: 10px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.322);

    display: flex;
    flex-flow: column nowrap;
    flex: 1 1;
}

section#quem-somos-cards div h3{
    margin-bottom: 30px;
}

section#quem-somos-cards div p{
    max-width: 180px;
    text-align: justify;
}

