@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
@font-face {
    font-family: 'Varino';
    src: url(../fontes/varino-normal.ttf) format('truetype');
}

:root{
    --fonte-varino: 'Varino', sans-serif;
    --fonte-roboto: 'Roboto', sans-serif;
    --azul1: #edf9fc;
    --azul2: #95dbec;
    --azul3: #4ec3e0;
    --azul4: #11111f;
    --cinza1: #e7e7e9;
    --cinza2: #707079;
    --nova: hwb(240 11% 75%);
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: var(--fonte-roboto);
}

/* Classes globais */

.texto-titulo{
    color: var(--azul1);
    font-size: 3vw;
    text-align: center;
}

#fale-conosco{
    display: block;
    margin: auto;
    text-align: center;
    border: 2px solid var(--azul3);
    width: 15%;
    text-decoration: none;
    background-color: var(--azul3);
    color: var(--azul4);
    font-weight: bold;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px #4ec3e049;
    transition: 0.3s;
}

#fale-conosco:hover{
    transform: scale(1.1);
}


/* Body */

body{
    background-color: var(--azul4);
}


header{
    width: 70%;
    padding-top: 30px;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 25px;
}

header img{
    height: 20%;
    width: 20%;
}

#header--text{
    flex-grow: 1;
    text-align: center;
}
#header--text h1{
    font-family: var(--fonte-varino);
    font-size: 5vw;
    color: var(--azul1);
}
#header--text p{
    font-family: var(--fonte-roboto);
    color: var(--azul1);
}

/* NAV \/ */

nav{
    padding: 5px;
    text-align: center;
    background-image: linear-gradient(to right, var(--azul4), var(--azul3), var(--azul4));
    border-top: 2px solid var(--azul3);
    border-bottom: 2px solid var(--azul3);

}
nav a{
    text-decoration: none;
    color: var(--azul3);
    margin: 0 5px;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--azul4);
    box-shadow: 3px 3px 2px #11111f69;
    display: inline-block;
    box-sizing: border-box;
    transition: 0.3s;
}

nav > a:hover{
    text-decoration: underline;
    transform: translate(-5px, -5px);
    box-shadow: 6px 6px 2px #11111f69;
}

/* MAIN \/ */   
/* section Apresentacao */

#welcome-screen{
    margin-bottom: 180px;
}

#apresentacao{
    max-width: 70%;
    margin: 50px auto;
    color: var(--azul1);
    background-color: var(--cinza1);
    color: var(--azul4);
    border-radius: 20px;
    box-shadow: 0 0 15px 5px #e7e7e960;
    padding: 10px;

    display: flex;
    justify-content: space-around;
}

#texto-apresentacao{
    font-size: 2rem;
    align-self: center;
}

#apresentacao img{
    width: 25%;
    height: 25%;
}


/* section Quem somos */

#quem-somos{    
    text-align: center;
    color: var(--azul4);
    margin-bottom: 150px;
}

#quem-somos h2 span{
    color: var(--azul3);
}

#quem-somos-cards{
    display: flex;
    flex-flow: row wrap;    
    gap: 15px;

    justify-content: space-between;
    max-width: 70%;
    margin: auto;
    padding: 85px 25px 25px 25px;
}

section#quem-somos-cards div{
    background-color: var(--cinza1);
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.322);

    flex: 1 1 auto;
    display: inline-block;
    flex-flow: column nowrap;
    width: calc(100%/5 - 10px);
}

section#quem-somos-cards div h3{
    margin-bottom: 30px;
}

section#quem-somos-cards div p{
    text-align: center;
}

/* Nossos serviços \/  */

#servicos{
    padding-bottom: 200px;
}

#servicos h2{
    margin-bottom: 100px;
}

#servicos-container{
    width: 70%;
    margin: auto;

    display: flex;
    flex-flow: column nowrap;
    row-gap: 100px;
}

#servicos-container div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;


    background-color: var(--azul4);

    color: var(--azul1);

    padding: 25px;
}

section#servicos-container > div > aside{
    display: flex;
    flex-flow: column nowrap;
    row-gap: 50px;    
}

section#servicos-container > div > aside > h3{
    font-size: 2em;
}

section#servicos-container > div > aside > p{
    font-size: 1.2em;
}

.inverte-conteudo-flex{
    flex-direction: row-reverse;
}

#servicos-container div p{
    width: 400px;
}

#servicos-container div img{
    width: 20vw;
}

/* Nossos clientes \/   */

#nossos-clientes{
    background-color: var(--cinza1);
    text-align: center;
    padding: 60px;
}
#nossos-clientes h2{
    font-size: 2em;
    margin-bottom: 40px;
}
#opiniao-cliente{
    padding: 15px 15px 15px;
    display: block;
    margin: 70px auto 30px auto;
    border-radius: 15px;
    color: var(--azul1);

    display: flex;
    flex-flow: row nowrap;
    justify-content: right;
    position: relative;
    height: 30vh;
    width: 50vw;
    background-color: var(--azul4);
}

#texto-avaliacao{
    width: 32vw;

    display: flex;
    flex-flow: column nowrap;
    row-gap: 35px;
    text-align: left;
    justify-content: center;
}

div#opiniao-cliente img{
    position: absolute;
    top: -5%;
    left: 4%;
    height: 37vh;
    border-radius: 10px;
    border: 5px solid var(--azul3);
}

#nome-cliente{
    font-size: 1.3rem;
    font-weight: bold;
}

/* Case de sucesso */

#case-jumper{
    padding: 50px;
}

#case-jumper span{
    color: var(--azul3);
}

#case-jumper a{
    margin: 50px auto;
}

/* Footer  \/ */


